USE [master]
GO
/****** Object:  Database [BAIDOXE]    Script Date: 22/04/2025 10:23:48 CH ******/
CREATE DATABASE [BAIDOXE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BAIDOXE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLVN\MSSQL\DATA\BAIDOXE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BAIDOXE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLVN\MSSQL\DATA\BAIDOXE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAIDOXE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAIDOXE]
GO
/****** Object:  Table [dbo].[ChungCu]    Script Date: 22/04/2025 10:23:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungCu](
	[MaChungCu] [varchar](10) NOT NULL,
	[TenChungCu] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](20) NULL,
	[SoDienThoai] [varchar](15) NULL,
 CONSTRAINT [PK_ChungCu] PRIMARY KEY CLUSTERED 
(
	[MaChungCu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 22/04/2025 10:23:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SoCanHo] [varchar](10) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_PhieuThanhToan]    Script Date: 22/04/2025 10:23:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_PhieuThanhToan](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[SoHoaDon] [varchar](10) NULL,
	[TruongThayDoi] [nvarchar](50) NULL,
	[GiaTriCu] [nvarchar](max) NULL,
	[GiaTriMoi] [nvarchar](max) NULL,
	[NgayThayDoi] [datetime] NULL,
 CONSTRAINT [PK__Log_Phie__5E5499A8F00E2D0B] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThanhToan]    Script Date: 22/04/2025 10:23:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThanhToan](
	[SoHoaDon] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NULL,
	[SoPhieu] [varchar](10) NULL,
	[PhiGui] [decimal](10, 2) NULL,
	[PhiPhatSinh] [decimal](10, 2) NULL,
	[HinhThucThanhToan] [nvarchar](30) NULL,
	[NgayThu] [date] NULL,
	[MaChungCu] [varchar](10) NULL,
	[TongTien] [decimal](10, 2) NULL,
	[NgayHetHan] [date] NULL,
	[SoThangGui] [varchar](10) NULL,
 CONSTRAINT [PK_PhieuThanhToan] PRIMARY KEY CLUSTERED 
(
	[SoHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongTien]    Script Date: 22/04/2025 10:23:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongTien](
	[MaPhuongTien] [varchar](10) NOT NULL,
	[LoaiPhuongTien] [nvarchar](30) NULL,
	[BienSo] [varchar](20) NULL,
	[MaKhachHang] [varchar](10) NULL,
 CONSTRAINT [PK_PhuongTien] PRIMARY KEY CLUSTERED 
(
	[MaPhuongTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinGuiXe]    Script Date: 22/04/2025 10:23:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinGuiXe](
	[SoPhieu] [varchar](10) NOT NULL,
	[MaKhachHang] [varchar](10) NULL,
	[MaPhuongTien] [varchar](10) NULL,
	[MaThe] [varchar](10) NULL,
	[NgayGui] [date] NULL,
	[LoaiTheGuiXe] [nvarchar](30) NULL,
 CONSTRAINT [PK_ThongTinGuiXe] PRIMARY KEY CLUSTERED 
(
	[SoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Log_PhieuThanhToan] ADD  CONSTRAINT [DF__Log_Phieu__NgayT__02FC7413]  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[PhieuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThanhToan_ChungCu] FOREIGN KEY([MaChungCu])
REFERENCES [dbo].[ChungCu] ([MaChungCu])
GO
ALTER TABLE [dbo].[PhieuThanhToan] CHECK CONSTRAINT [FK_PhieuThanhToan_ChungCu]
GO
ALTER TABLE [dbo].[PhieuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThanhToan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuThanhToan] CHECK CONSTRAINT [FK_PhieuThanhToan_KhachHang]
GO
ALTER TABLE [dbo].[PhieuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThanhToan_ThongTinGuiXe] FOREIGN KEY([SoPhieu])
REFERENCES [dbo].[ThongTinGuiXe] ([SoPhieu])
GO
ALTER TABLE [dbo].[PhieuThanhToan] CHECK CONSTRAINT [FK_PhieuThanhToan_ThongTinGuiXe]
GO
ALTER TABLE [dbo].[PhuongTien]  WITH CHECK ADD  CONSTRAINT [FK_PhuongTien_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhuongTien] CHECK CONSTRAINT [FK_PhuongTien_KhachHang]
GO
ALTER TABLE [dbo].[ThongTinGuiXe]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinGuiXe_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[ThongTinGuiXe] CHECK CONSTRAINT [FK_ThongTinGuiXe_KhachHang]
GO
ALTER TABLE [dbo].[ThongTinGuiXe]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinGuiXe_PhuongTien] FOREIGN KEY([MaPhuongTien])
REFERENCES [dbo].[PhuongTien] ([MaPhuongTien])
GO
ALTER TABLE [dbo].[ThongTinGuiXe] CHECK CONSTRAINT [FK_ThongTinGuiXe_PhuongTien]
GO
USE [master]
GO
